.close {
  text-align: right;
  color: white;
  font-weight: bold;

  span {
    width: 20%;
    cursor: pointer;
    background-color: blue;
    padding: 2px 10px 2px 10px;
  }
}
.faq {
  padding: 60px 0 60px;
  background-color: #ffffff;
  h3 {
    text-align: center;
    font-weight: 600;
    font-size: 60px;
    line-height: 68px;
    text-align: center;
    color: #1e1810;
    margin: 0 0 60px;

    span {
      display: block;
      font-weight: 500;
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 4px;
      text-transform: uppercase;
      color: #aaea03;
      margin-bottom: 18px;
      text-align: center;
    }
  }
  .item-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 102 0 0;
    margin: 0;
    .item {
      cursor: pointer;
      width: calc(100% / 2 - 15px);
      position: relative;
      z-index: 1;
      padding: 20px;
      display: flex;
      align-items: center;
      background: #ffffff;
      border: 1px solid #d7daf4;
      border-radius: 12px;
      margin-bottom: 30px;

      svg {
        width: 90px;
        margin-right: 24px;
      }
      .details {
        width: calc(100% - 102px);
        p {
          font-weight: 500;
          font-size: 16px;
          line-height: 32px;
          color: #1e1810;
          margin: 0 0 16px 0;
          z-index: 1;
          position: relative;
          span {
            font-size: 18px;
            line-height: 18px;
            display: block;
            color: #5f5f7d;
            margin: 0 0 18px;
            text-transform: uppercase;
          }
        }
        h4 {
          font-weight: 200;
          font-size: 18px;
          line-height: 28px;
          color: slategrey;
          margin: 0 0 16px 0;
          z-index: 1;
          position: relative;
          white-space: pre-line;
        }
      }
    }
  }
  .button-block {
    display: flex;
    justify-content: center;
    button {
      background: #aaea03;
      border-radius: 100px;
      border: none;
      line-height: 52px;
      color: #ffffff;
      font-weight: 600;
      font-size: 16px;
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;
      padding: 0 45px;
    }
  }
}
