.footer {
  display: block;
  background: #1e1810;
  padding: 92px 0 0;
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .f-logo {
    width: 374px;
    img {
      width: 100%;
    }
  }
  p {
    padding: 48px 0 36px;
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    max-width: 950px;
    margin: 0;
    text-align: center;
    a {
      text-decoration: none;
      cursor: pointer;
      color: #252ff2;
    }
  }
  ul {
    padding: 0;
    margin: 0;
    &.social {
      display: flex;
      align-items: center;
      width: auto;
      li {
        list-style: none;
        a {
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 48px;
          width: 48px;
          border: 1px solid #ffffff;
          border-radius: 50%;
        }
        & + li {
          margin-left: 12px;
        }
      }
    }
  }
}
