.banner {
  width: 100%;
  min-height: 100vh;

  img {
    width: 100%;
    max-height: 100%;
  }

  .content {
    position: absolute;
    top: 150px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
    text-align: center;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    h1 {
      // font-family: "konnect_boldbold";
      font-weight: 700;
      font-size: 5vw;
      line-height: 5.556vw;
      margin: 0 0 16px;
      text-align: center;
      color: #ffffff;
    }

    p {
      font-weight: 400;
      font-size: 24px;
      line-height: 24px;
      text-align: center;
      color: #ffffff;
      margin: 0 0 60px;
    }

    .home-search {
      position: absolute;
      left: 26%;
      width: 50%;
    }

    .Iam {
      font: normal 40px/50px Montserrat, sans-serif;
      color: #999;
      margin-bottom: 30px;
    }

    .Iam h1 {
      height: 50px;
      margin-right: 0.3em;
    }

    .Iam .subtitle {
      overflow: hidden;
      position: relative;
      height: 74px;
      top: 40px;
    }

    .Iam .innerIam {
      display: inline-block;
      color: #ffb703;
      position: relative;
      white-space: nowrap;
      top: 0;
      left: 0;
      font-size: 65px;
      line-height: 74px;

      /*animation*/
      -webkit-animation: move 5s;
      -moz-animation: move 5s;
      -ms-animation: move 5s;
      -o-animation: move 5s;
      animation: move 5s;
      /*animation-iteration-count*/
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
      -o-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      /*animation-delay*/
      -webkit-animation-delay: 1s;
      -moz-animation-delay: 1s;
      -ms-animation-delay: 1s;
      -o-animation-delay: 1s;
      animation-delay: 1s;
    }

    @keyframes move {
      0% {
        top: 0px;
      }
      20% {
        top: -75px;
      }
      40% {
        top: -150px;
      }
      60% {
        top: -225px;
      }
      80% {
        top: -300px;
      }
    }

    @-webkit-keyframes move {
      0% {
        top: 0px;
      }
      20% {
        top: -75px;
      }
      40% {
        top: -150px;
      }
      60% {
        top: -225px;
      }
      80% {
        top: -300px;
      }
    }
    @-moz-keyframes move {
      0% {
        top: 0px;
      }
      20% {
        top: -75px;
      }
      40% {
        top: -150px;
      }
      60% {
        top: -225px;
      }
      80% {
        top: -300px;
      }
    }
    @-o-keyframes move {
      0% {
        top: 0px;
      }
      20% {
        top: -75px;
      }
      40% {
        top: -150px;
      }
      60% {
        top: -225px;
      }
      80% {
        top: -300px;
      }
    }
    @keyframes move {
      0% {
        top: 0px;
      }
      20% {
        top: -75px;
      }
      40% {
        top: -150px;
      }
      60% {
        top: -225px;
      }
      80% {
        top: -300px;
      }
    }

    ul.option-area {
      padding: 0;
      margin: 150px 0 0;
      display: inline-flex;
      width: 100%;
      justify-content: center;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 30px;

        span.icon {
          width: 6.944vw;
          height: 6.944vw;
          background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.24) 0%,
            rgba(255, 255, 255, 0.12) 100%
          );
          box-shadow: 0px 48px 60px rgba(115, 131, 139, 0.12);
          border-radius: 2.5vw;
          margin-bottom: 1.806vw;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        p {
          font-size: 1.667vw;
          line-height: 1.667vw;
          text-align: center;
          color: #ffffff;
        }
      }
    }
  }
}
